@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* NAV */

nav {
    background-color: #FBF6EA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logobox {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.logoimg {
    width: 25%;
    padding: 10px;
    background-color: #fffef8;
    border-radius: 50%;
}

.navlist {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 5px;
}

.navlink {
    text-decoration: none;
    color: #000000;
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    background-color: #fffef8;
    padding: 0px 10px;
    border-radius: 15px;
    white-space: nowrap;
}

/* NAV */

/* INDEX */

.sectionindex1 {
    background-image: url(../multimedia/fondomovil.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.barra {
    background-color: #fbf6eac9;
    width: 100%;
    height: 40px;
}

.section1text {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.welc {
    font-family: 'Itim', cursive;
    color: #fffbf5;
    font-size: 40px;
    text-align: center;
    text-shadow: 5px 5px 10px #000000;
    background-color: #dee6e9c7;
    border-radius: 15px;
}

.inf {
    font-family: 'Caveat Brush', cursive;
    color: #fffbf5;
    font-size: 30px;
    text-align: center;
    text-shadow: 5px 5px 10px #000000;
}

.barra2 {
    background-color: #dee6e9c7;
    width: 100%;
    height: 40px;
}

.sectionindex2 {
    background-color: #BFD1DB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.img2 {
    width: 85%;
    border-radius: 50%;
    border: #dee6e9 5px solid;
}

.inf2 {
    font-family: 'Caveat Brush', cursive;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    text-shadow: 5px 5px 10px #000000;
}

/* INDEX */

/* FOOTER */

footer {
    background-color: #a8bac4;
}

.footerlist {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 5px;
}

.footerlink {
    text-decoration: none;
    color: #000000;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    background-color: #dee6e9c7;
    padding: 0px 10px;
    border-radius: 15px;
}

/* FOOTER */

/* MEDIAS */

@media screen and (min-width: 600px) {

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .logobox {
        display: flex;
        justify-content: flex-start;
    }

    .logoimg {
        width: 100px;
    }
    
    .navlist {
        display: flex;
        flex-direction: row;
    }

    .section1text {
        gap: 30px;
    }

    .welc {
        font-size: 50px;
    }

    .inf {
        font-size: 40px;
        padding: 15px;
    }

    .img2 {
        width: 500px;
    }

    .inf2 {
        font-size: 40px;
    }

    .footerlist {
        flex-direction: row;
        justify-content: center;
    }

    .footerlink {
        font-size: 25px;
    }

}


@media screen and (min-width: 1023px) {

    .navlink {
        font-size: 40px;
    }

    .logoimg {
        margin-left: 25px;
        width: 100px;
    }

    .sectionindex1 {
        background-image: url(../multimedia/fondodesk.png);
    }

    .section1text {
        width: 60%;
    }

    .welc {
        text-align: start;
        font-size: 80px;
        padding: 15px;
    }

    .inf {
        text-align: start;
        font-size: 55px;
    }

    .sectionindex2 {
        flex-direction: row;
        justify-content: center;
        gap: 15px;
    }

    .inf2 {
        font-size: 55px;
        text-align: start;
    }

    .img2 {
        width: 600px;
    }

    




    .footerlink {
        font-size: 35px;
    }

}

/* MEDIAS */